@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   min-height: 100vh;
   height: 100vh;
   color: white;
}
#root{
   height: 100%;
}

a{
   text-decoration: none;
   color: white;
}

h1{
   font-family: 'Bellefair', serif;
   font-size: 150px;
}
h2{
   font-family: 'Bellefair', serif;
   font-size: 100px;
}
h3{
   font-family: 'Bellefair', serif;
   font-size: 56px;
}
h4{
   font-family: 'Bellefair', serif;
   font-size: 32px;
}
h5{
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 28px;
   letter-spacing: 4.75px;
}
p{
   font-family: 'Barlow', sans-serif;
   font-weight: lighter;
   font-size: 2vh;
   color: rgba(230, 230, 250, 0.6);
   line-height: 1.8;
}

