.expBtn{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: none;
}
.expBtn:hover{
   height: 200px;
   width: 200px;
   border: solid rgb(63, 61, 61) 2rem;
}

.expBtn h3{
   color: black;
}