.home{
   background-image: url('../img/home/background-home-mobile.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
   padding: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}